h1, h2, h3 {
    background-color: blue;
    color: red;
    border: 1px solid red;
    border-radius: 0.5rem;
    padding: 10px;
}

h1::before {
    content: "#";
}

h2::before {
    content: "##";
}

h3::before {
    content: "###";
}