h1, h2, h3 {
    background-color: #333;
    color: red;
    border: 1px solid red;
    border-radius: 0.5rem;
    padding: 10px;
}

h1::before {
    content: "# ";
    font-size: 1rem;
}

h2::before {
    content: "## ";
    font-size: 0.9rem;
}

h3::before {
    content: "### ";
    font-size: 0.8rem;
}